# ===== SPRING CORE =====
SPRING_DATASOURCE_URL=jdbc:mariadb://trolley.proxy.rlwy.net:24225/railway?useUnicode=true&characterEncoding=utf8mb4&connectionCollation=utf8mb4_unicode_ci
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=XspRewFImGElUxnbAJotPUIlKBxEVTDK

# Production: chi validate schema, khong tu tao/sua bang
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
APP_EXPOSE_INTERNAL_ERROR_MESSAGE=false

# Khong seed tu dong tren production
APP_DB_SEED_ENABLED=false
APP_DB_SEED_RESEED_IF_GARBLED=false
APP_DB_CHARSET_AUTO_FIX=false

# ===== SERVER =====
SERVER_PORT=8080

# ===== JWT =====
APP_JWT_SECRET=e49a6d3b7f2c8e1a50b9df4c71a3e68b0f2d5c9a4e7b1f3c6d8a0b5e2f9d4c7a
APP_JWT_EXPIRATION_MINUTES=60
APP_OTP_EXPIRATION_MINUTES=5

# ===== CORS =====
APP_CORS_ALLOWED_ORIGINS=https://vinago-bay.vercel.app

# ===== EMAIL SMTP =====
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=support.banvexe@gmail.com
SPRING_MAIL_PASSWORD=iysfirkwxodmxpwi

# ===== BRANDING =====
APP_BOOKING_BRAND_NAME=VinaGo
APP_BOOKING_BRAND_LOGO_URL=https://res.cloudinary.com/dpunfcwz9/image/upload/v1777827843/banvexe/site/logo.png
APP_BOOKING_BRAND_HOTLINE=19001234
APP_BOOKING_BRAND_SUPPORT_EMAIL=support.banvexe@gmail.com
APP_BOOKING_BRAND_PRIMARY_COLOR=#ef5222
APP_BOOKING_BRAND_SECONDARY_COLOR=#f97316
APP_BOOKING_BRAND_SUCCESS_COLOR=#059669
APP_BOOKING_BRAND_WEBSITE_URL=https://vinago-bay.vercel.app
APP_BOOKING_BRAND_TICKET_LOOKUP_URL=https://vinago-bay.vercel.app/tra-cuu-ve
APP_BOOKING_BRAND_HISTORY_URL=https://vinago-bay.vercel.app/lich-su-dat-ve

# ===== PAYOS =====
APP_PAYOS_DEV_MOCK=false
PAYOS_CLIENT_ID=da2f6f8a-8c5c-41e2-b8c8-8195c85059d3
PAYOS_API_KEY=04943b3e-9cac-4f2c-80e5-2de5f5da0e19
PAYOS_CHECKSUM_KEY=94f26a43da233b4d7512ecf4e9e2278e0ed1055d1515115b92b40b9203d8b47d
PAYOS_BASE_URL=https://api-merchant.payos.vn
PAYOS_RETURN_URL=https://vinago-bay.vercel.app/thanh-toan/ket-qua
PAYOS_CANCEL_URL=https://vinago-bay.vercel.app/thanh-toan

# ===== CLOUDINARY =====
CLOUDINARY_CLOUD_NAME=dpunfcwz9
CLOUDINARY_API_KEY=532575474362744
CLOUDINARY_API_SECRET=png4O0GJYabAzRJlZ9GcneKMwgM
# ===== GEMINI (optional) =====
GEMINI_API_KEY=AIzaSyAjAp3gmU1ZI757NA-r8KLN3jGffAEpg80
GEMINI_MODEL=gemini-2.5-flash
